# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

build.xml
project.xml
build-impl.xml
manifest.mf

*.properties


# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

